# STRING

In [1]:
# Replace String
word = "Hello World in Python"
print(word.replace("World","to World"))

Hello to World in Python

In [4]:
# Reverse Strings
w1= "Hello to the world of Python"
print(''.join(reversed(w1)))

nohtyP fo dlrow eht ot olleH

In [5]:
# Split a String
s1= "Welcome to LetsUpgrade Course of Python Essentials"
print(s1.split())

['Welcome', 'to', 'LetsUpgrade', 'Course', 'of', 'Python', 'Essentials']

In [6]:
# Capitialize First Letter of a Sentence
s1= "hello, how are you all ?"
print(s1.capitalize())

Hello, how are you all ?

In [7]:
# Swap small letters to capital and vice-versa
s1="Hello "
s2="wORLD "
S1=s1.swapcase()
S2= s2.swapcase()
print(S1+S2)

hELLO World

# LIST OBJECTS

In [11]:
# Insert in list
l1=['Delhi','the','capital','of','INDIA']
l1.insert(1,'is')
print(l1)

['Delhi', 'is', 'the', 'capital', 'of', 'INDIA']

In [25]:
# Sort the data and arrange in Increasing and Decreasing Order 
l2=[3.1, 5.8, 2.4, 9.4, 13.5, 7.2]
l2.sort(reverse=True)
print(l2)
l2.sort(reverse=False)
print(l2)

[13.5, 9.4, 7.2, 5.8, 3.1, 2.4]
[2.4, 3.1, 5.8, 7.2, 9.4, 13.5]

In [26]:
# Append a list
l2.append(9.1)
print(l2)

[2.4, 3.1, 5.8, 7.2, 9.4, 13.5, 9.1]

In [27]:
# Remove a specific element from a list
l2.remove(3.1)
print(l2)

[2.4, 5.8, 7.2, 9.4, 13.5, 9.1]

In [28]:
# Join a list to make a string
print(l1)
space = ' '
print(space.join(l1))

['Delhi', 'is', 'the', 'capital', 'of', 'INDIA']
Delhi is the capital of INDIA

# Dictionary

In [44]:
# Access Elements from Dictionary
d1={'Name': 'Nirmit','Age': 21}
print("Name is :"+d1['Name'])
print("Age is :"+str(d1['Age']))

Name is :Nirmit
Age is :21

In [45]:
# Add Key to Dictionary
d1['Address'] = 'Panipat'
print(d1)

{'Name': 'Nirmit', 'Age': 21, 'Address': 'Panipat'}

In [46]:
# Remove or Pop the last key-value
print(d1.popitem())
print(d1)

('Address', 'Panipat')
{'Name': 'Nirmit', 'Age': 21}

In [47]:
# Return all the values
print(d1.values())

dict_values(['Nirmit', 21])

In [48]:
# Clear the dictionary
print("Before clearing the dictionary: ")
print(d1)
print("After clearing the dictionary: ")
print(d1.clear())

Before clearing the dictionary:
{'Name': 'Nirmit', 'Age': 21}
After clearing the dictionary:
None